.header-main {
  padding: 0;
}

.header-hr {
  background-color: #3F4E65;
  opacity: 0.2;
  margin: 0;
}
@media (max-width: 900px) {
  .header-hr {
    display: none;
  }
}

nav {
  max-width: 1360px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 14px 15px;
}
@media (max-width: 1380px) {
  nav {
    max-width: 1060px;
  }
}
nav .info {
  display: flex;
}
nav .info-content {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
@media (max-width: 950px) {
  nav .info-content {
    margin-right: 15px;
  }
}
nav .info-content:last-child {
  margin-right: 0;
}
nav .info-content_icon {
  margin: 0 15px 0 0;
  color: #3F4E65;
  font-size: 17px;
}
nav .links {
  display: flex;
  align-items: center;
}
nav .links ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav .links ul li {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
  margin-right: 60px;
  margin-bottom: 0;
}
@media (max-width: 1200px) {
  nav .links ul li {
    margin-right: 20px;
  }
}
@media (max-width: 950px) {
  nav .links ul li {
    margin-right: 15px;
  }
}
nav .links ul li:last-child {
  margin-right: 0;
}
@media (max-width: 900px) {
  nav {
    display: none;
  }
}

.menu {
  max-width: 1360px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 15px;
}
.menu img {
  margin-right: 10px;
}
@media (max-width: 1380px) {
  .menu {
    max-width: 1060px;
  }
}
.menu .manager {
  display: flex;
  align-items: center;
}
@media (max-width: 1380px) {
  .menu .manager {
    display: none;
  }
}
.menu .manager__text {
  margin-right: 10px;
  text-align: end;
}
.menu .manager__text p.think {
  margin: 5px 0;
}
@media (max-width: 1200px) {
  .menu .manager__btn {
    display: none;
  }
}
.menu .basket {
  width: 128px;
}
.menu .basket .basket-wrap {
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  position: relative;
  right: 0;
  top: 0;
  display: block;
  background: url("/public/images/basket.svg") center no-repeat;
  background-size: 41px;
}
.menu .basket__counter {
  width: 22px;
  height: 22px;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: white;
  position: absolute;
  border: 3px solid white;
  border-radius: 15px;
  display: block;
  transform: scale(1);
  right: -7px;
  margin: auto;
  background: #FFC85E;
}
.menu .basket__amount {
  width: 60px;
  position: absolute;
  bottom: 7px;
  left: 67px;
  color: #111111;
  font-weight: 600;
  font-size: 14px;
}
.menu .basket__title {
  position: absolute;
  bottom: 24px;
  left: 69px;
  color: #3F4E65;
}
@media (max-width: 900px) {
  .menu {
    display: none;
  }
}

.searchBar {
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 10px;
  border: none;
  border-radius: 36px;
  background: #EDEDED;
}
.searchBar #searchInput {
  max-width: 150px;
  background: none;
  flex: 1;
  border: none;
  outline: none;
  font-size: 1.2rem;
  padding-left: 10px;
}
.searchBar #searchBtn {
  width: 39px;
  height: 39px;
  background-color: #FFC85E;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBar #searchBtn:hover {
  background-color: white;
  color: #FFC85E;
  border: 2px solid #FFC85E;
}
.searchBar #searchBtn:hover img {
  filter: invert(20%) sepia(60%) saturate(2476%);
}
.searchBar #searchBtn img {
  margin: 0;
}

/*# sourceMappingURL=header.css.map */
